# coding: utf-8

"""
    Bungie.Net API

    These endpoints constitute the functionality exposed by Bungie.net, both for more traditional website functionality and for connectivity to Bungie video games and their related functionality.  # noqa: E501

    OpenAPI spec version: 2.3.6
    Contact: support@bungie.com
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from bungie_sdk_python.api_client import ApiClient


class Destiny2Api(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def awa_get_action_token(self, correlation_id, **kwargs):  # noqa: E501
        """awa_get_action_token  # noqa: E501

        Returns the action token if user approves the request.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.awa_get_action_token(correlation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str correlation_id: The identifier for the advanced write action request. (required)
        :return: InlineResponse20058
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.awa_get_action_token_with_http_info(correlation_id, **kwargs)  # noqa: E501
        else:
            (data) = self.awa_get_action_token_with_http_info(correlation_id, **kwargs)  # noqa: E501
            return data

    def awa_get_action_token_with_http_info(self, correlation_id, **kwargs):  # noqa: E501
        """awa_get_action_token  # noqa: E501

        Returns the action token if user approves the request.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.awa_get_action_token_with_http_info(correlation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str correlation_id: The identifier for the advanced write action request. (required)
        :return: InlineResponse20058
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['correlation_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method awa_get_action_token" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'correlation_id' is set
        if ('correlation_id' not in local_var_params or
                local_var_params['correlation_id'] is None):
            raise ValueError("Missing the required parameter `correlation_id` when calling `awa_get_action_token`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'correlation_id' in local_var_params:
            path_params['correlationId'] = local_var_params['correlation_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/Awa/GetActionToken/{correlationId}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20058',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def awa_initialize_request(self, awa_permission_requested, **kwargs):  # noqa: E501
        """awa_initialize_request  # noqa: E501

        Initialize a request to perform an advanced write action.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.awa_initialize_request(awa_permission_requested, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Destiny.Advanced.AwaPermissionRequested awa_permission_requested: (required)
        :return: InlineResponse20057
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.awa_initialize_request_with_http_info(awa_permission_requested, **kwargs)  # noqa: E501
        else:
            (data) = self.awa_initialize_request_with_http_info(awa_permission_requested, **kwargs)  # noqa: E501
            return data

    def awa_initialize_request_with_http_info(self, awa_permission_requested, **kwargs):  # noqa: E501
        """awa_initialize_request  # noqa: E501

        Initialize a request to perform an advanced write action.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.awa_initialize_request_with_http_info(awa_permission_requested, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Destiny.Advanced.AwaPermissionRequested awa_permission_requested: (required)
        :return: InlineResponse20057
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['awa_permission_requested']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method awa_initialize_request" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'awa_permission_requested' is set
        if ('awa_permission_requested' not in local_var_params or
                local_var_params['awa_permission_requested'] is None):
            raise ValueError("Missing the required parameter `awa_permission_requested` when calling `awa_initialize_request`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'awa_permission_requested' in local_var_params:
            body_params = local_var_params['awa_permission_requested']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/Awa/Initialize/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20057',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def awa_provide_authorization_result(self, awa_user_response, **kwargs):  # noqa: E501
        """awa_provide_authorization_result  # noqa: E501

        Provide the result of the user interaction. Called by the Bungie Destiny App to approve or reject a request.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.awa_provide_authorization_result(awa_user_response, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Destiny.Advanced.AwaUserResponse awa_user_response: (required)
        :return: InlineResponse20022
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.awa_provide_authorization_result_with_http_info(awa_user_response, **kwargs)  # noqa: E501
        else:
            (data) = self.awa_provide_authorization_result_with_http_info(awa_user_response, **kwargs)  # noqa: E501
            return data

    def awa_provide_authorization_result_with_http_info(self, awa_user_response, **kwargs):  # noqa: E501
        """awa_provide_authorization_result  # noqa: E501

        Provide the result of the user interaction. Called by the Bungie Destiny App to approve or reject a request.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.awa_provide_authorization_result_with_http_info(awa_user_response, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Destiny.Advanced.AwaUserResponse awa_user_response: (required)
        :return: InlineResponse20022
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['awa_user_response']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method awa_provide_authorization_result" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'awa_user_response' is set
        if ('awa_user_response' not in local_var_params or
                local_var_params['awa_user_response'] is None):
            raise ValueError("Missing the required parameter `awa_user_response` when calling `awa_provide_authorization_result`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'awa_user_response' in local_var_params:
            body_params = local_var_params['awa_user_response']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/Awa/AwaProvideAuthorizationResult/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20022',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def equip_item(self, destiny_item_action_request, **kwargs):  # noqa: E501
        """equip_item  # noqa: E501

        Equip an item. You must have a valid Destiny Account, and either be in a social space, in orbit, or offline.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.equip_item(destiny_item_action_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Destiny.Requests.Actions.DestinyItemActionRequest destiny_item_action_request: (required)
        :return: InlineResponse20022
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.equip_item_with_http_info(destiny_item_action_request, **kwargs)  # noqa: E501
        else:
            (data) = self.equip_item_with_http_info(destiny_item_action_request, **kwargs)  # noqa: E501
            return data

    def equip_item_with_http_info(self, destiny_item_action_request, **kwargs):  # noqa: E501
        """equip_item  # noqa: E501

        Equip an item. You must have a valid Destiny Account, and either be in a social space, in orbit, or offline.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.equip_item_with_http_info(destiny_item_action_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Destiny.Requests.Actions.DestinyItemActionRequest destiny_item_action_request: (required)
        :return: InlineResponse20022
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['destiny_item_action_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method equip_item" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'destiny_item_action_request' is set
        if ('destiny_item_action_request' not in local_var_params or
                local_var_params['destiny_item_action_request'] is None):
            raise ValueError("Missing the required parameter `destiny_item_action_request` when calling `equip_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'destiny_item_action_request' in local_var_params:
            body_params = local_var_params['destiny_item_action_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/Actions/Items/EquipItem/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20022',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def equip_items(self, destiny_item_set_action_request, **kwargs):  # noqa: E501
        """equip_items  # noqa: E501

        Equip a list of items by itemInstanceIds. You must have a valid Destiny Account, and either be in a social space, in orbit, or offline. Any items not found on your character will be ignored.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.equip_items(destiny_item_set_action_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Destiny.Requests.Actions.DestinyItemSetActionRequest destiny_item_set_action_request: (required)
        :return: InlineResponse20043
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.equip_items_with_http_info(destiny_item_set_action_request, **kwargs)  # noqa: E501
        else:
            (data) = self.equip_items_with_http_info(destiny_item_set_action_request, **kwargs)  # noqa: E501
            return data

    def equip_items_with_http_info(self, destiny_item_set_action_request, **kwargs):  # noqa: E501
        """equip_items  # noqa: E501

        Equip a list of items by itemInstanceIds. You must have a valid Destiny Account, and either be in a social space, in orbit, or offline. Any items not found on your character will be ignored.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.equip_items_with_http_info(destiny_item_set_action_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Destiny.Requests.Actions.DestinyItemSetActionRequest destiny_item_set_action_request: (required)
        :return: InlineResponse20043
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['destiny_item_set_action_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method equip_items" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'destiny_item_set_action_request' is set
        if ('destiny_item_set_action_request' not in local_var_params or
                local_var_params['destiny_item_set_action_request'] is None):
            raise ValueError("Missing the required parameter `destiny_item_set_action_request` when calling `equip_items`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'destiny_item_set_action_request' in local_var_params:
            body_params = local_var_params['destiny_item_set_action_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey', 'oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/Actions/Items/EquipItems/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20043',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_activity_history(self, character_id, destiny_membership_id, membership_type, **kwargs):  # noqa: E501
        """get_activity_history  # noqa: E501

        Gets activity history stats for indicated character.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_activity_history(character_id, destiny_membership_id, membership_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int character_id: The id of the character to retrieve. (required)
        :param int destiny_membership_id: The Destiny membershipId of the user to retrieve. (required)
        :param int membership_type: A valid non-BungieNet membership type. (required)
        :param int count: Number of rows to return
        :param int mode: A filter for the activity mode to be returned. None returns all activities. See the documentation for DestinyActivityModeType for valid values, and pass in string representation.
        :param int page: Page number to return, starting with 0.
        :return: InlineResponse20052
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_activity_history_with_http_info(character_id, destiny_membership_id, membership_type, **kwargs)  # noqa: E501
        else:
            (data) = self.get_activity_history_with_http_info(character_id, destiny_membership_id, membership_type, **kwargs)  # noqa: E501
            return data

    def get_activity_history_with_http_info(self, character_id, destiny_membership_id, membership_type, **kwargs):  # noqa: E501
        """get_activity_history  # noqa: E501

        Gets activity history stats for indicated character.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_activity_history_with_http_info(character_id, destiny_membership_id, membership_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int character_id: The id of the character to retrieve. (required)
        :param int destiny_membership_id: The Destiny membershipId of the user to retrieve. (required)
        :param int membership_type: A valid non-BungieNet membership type. (required)
        :param int count: Number of rows to return
        :param int mode: A filter for the activity mode to be returned. None returns all activities. See the documentation for DestinyActivityModeType for valid values, and pass in string representation.
        :param int page: Page number to return, starting with 0.
        :return: InlineResponse20052
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['character_id', 'destiny_membership_id', 'membership_type', 'count', 'mode', 'page']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_activity_history" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'character_id' is set
        if ('character_id' not in local_var_params or
                local_var_params['character_id'] is None):
            raise ValueError("Missing the required parameter `character_id` when calling `get_activity_history`")  # noqa: E501
        # verify the required parameter 'destiny_membership_id' is set
        if ('destiny_membership_id' not in local_var_params or
                local_var_params['destiny_membership_id'] is None):
            raise ValueError("Missing the required parameter `destiny_membership_id` when calling `get_activity_history`")  # noqa: E501
        # verify the required parameter 'membership_type' is set
        if ('membership_type' not in local_var_params or
                local_var_params['membership_type'] is None):
            raise ValueError("Missing the required parameter `membership_type` when calling `get_activity_history`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'character_id' in local_var_params:
            path_params['characterId'] = local_var_params['character_id']  # noqa: E501
        if 'destiny_membership_id' in local_var_params:
            path_params['destinyMembershipId'] = local_var_params['destiny_membership_id']  # noqa: E501
        if 'membership_type' in local_var_params:
            path_params['membershipType'] = local_var_params['membership_type']  # noqa: E501

        query_params = []
        if 'count' in local_var_params:
            query_params.append(('count', local_var_params['count']))  # noqa: E501
        if 'mode' in local_var_params:
            query_params.append(('mode', local_var_params['mode']))  # noqa: E501
        if 'page' in local_var_params:
            query_params.append(('page', local_var_params['page']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/{membershipType}/Account/{destinyMembershipId}/Character/{characterId}/Stats/Activities/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20052',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_character(self, character_id, destiny_membership_id, membership_type, **kwargs):  # noqa: E501
        """get_character  # noqa: E501

        Returns character information for the supplied character.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_character(character_id, destiny_membership_id, membership_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int character_id: ID of the character. (required)
        :param int destiny_membership_id: Destiny membership ID. (required)
        :param int membership_type: A valid non-BungieNet membership type. (required)
        :param list[int] components: A comma separated list of components to return (as strings or numeric values). See the DestinyComponentType enum for valid components to request. You must request at least one component to receive results.
        :return: InlineResponse20036
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_character_with_http_info(character_id, destiny_membership_id, membership_type, **kwargs)  # noqa: E501
        else:
            (data) = self.get_character_with_http_info(character_id, destiny_membership_id, membership_type, **kwargs)  # noqa: E501
            return data

    def get_character_with_http_info(self, character_id, destiny_membership_id, membership_type, **kwargs):  # noqa: E501
        """get_character  # noqa: E501

        Returns character information for the supplied character.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_character_with_http_info(character_id, destiny_membership_id, membership_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int character_id: ID of the character. (required)
        :param int destiny_membership_id: Destiny membership ID. (required)
        :param int membership_type: A valid non-BungieNet membership type. (required)
        :param list[int] components: A comma separated list of components to return (as strings or numeric values). See the DestinyComponentType enum for valid components to request. You must request at least one component to receive results.
        :return: InlineResponse20036
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['character_id', 'destiny_membership_id', 'membership_type', 'components']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_character" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'character_id' is set
        if ('character_id' not in local_var_params or
                local_var_params['character_id'] is None):
            raise ValueError("Missing the required parameter `character_id` when calling `get_character`")  # noqa: E501
        # verify the required parameter 'destiny_membership_id' is set
        if ('destiny_membership_id' not in local_var_params or
                local_var_params['destiny_membership_id'] is None):
            raise ValueError("Missing the required parameter `destiny_membership_id` when calling `get_character`")  # noqa: E501
        # verify the required parameter 'membership_type' is set
        if ('membership_type' not in local_var_params or
                local_var_params['membership_type'] is None):
            raise ValueError("Missing the required parameter `membership_type` when calling `get_character`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'character_id' in local_var_params:
            path_params['characterId'] = local_var_params['character_id']  # noqa: E501
        if 'destiny_membership_id' in local_var_params:
            path_params['destinyMembershipId'] = local_var_params['destiny_membership_id']  # noqa: E501
        if 'membership_type' in local_var_params:
            path_params['membershipType'] = local_var_params['membership_type']  # noqa: E501

        query_params = []
        if 'components' in local_var_params:
            query_params.append(('components', local_var_params['components']))  # noqa: E501
            collection_formats['components'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/{membershipType}/Profile/{destinyMembershipId}/Character/{characterId}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20036',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_clan_aggregate_stats(self, group_id, **kwargs):  # noqa: E501
        """get_clan_aggregate_stats  # noqa: E501

        Gets aggregated stats for a clan using the same categories as the clan leaderboards. PREVIEW: This endpoint is still in beta, and may experience rough edges. The schema is in final form, but there may be bugs that prevent desirable operation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_clan_aggregate_stats(group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int group_id: Group ID of the clan whose leaderboards you wish to fetch. (required)
        :param str modes: List of game modes for which to get leaderboards. See the documentation for DestinyActivityModeType for valid values, and pass in string representation, comma delimited.
        :return: InlineResponse20048
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_clan_aggregate_stats_with_http_info(group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_clan_aggregate_stats_with_http_info(group_id, **kwargs)  # noqa: E501
            return data

    def get_clan_aggregate_stats_with_http_info(self, group_id, **kwargs):  # noqa: E501
        """get_clan_aggregate_stats  # noqa: E501

        Gets aggregated stats for a clan using the same categories as the clan leaderboards. PREVIEW: This endpoint is still in beta, and may experience rough edges. The schema is in final form, but there may be bugs that prevent desirable operation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_clan_aggregate_stats_with_http_info(group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int group_id: Group ID of the clan whose leaderboards you wish to fetch. (required)
        :param str modes: List of game modes for which to get leaderboards. See the documentation for DestinyActivityModeType for valid values, and pass in string representation, comma delimited.
        :return: InlineResponse20048
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['group_id', 'modes']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_clan_aggregate_stats" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'group_id' is set
        if ('group_id' not in local_var_params or
                local_var_params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `get_clan_aggregate_stats`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'group_id' in local_var_params:
            path_params['groupId'] = local_var_params['group_id']  # noqa: E501

        query_params = []
        if 'modes' in local_var_params:
            query_params.append(('modes', local_var_params['modes']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/Stats/AggregateClanStats/{groupId}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20048',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_clan_leaderboards(self, group_id, **kwargs):  # noqa: E501
        """get_clan_leaderboards  # noqa: E501

        Gets leaderboards with the signed in user's friends and the supplied destinyMembershipId as the focus. PREVIEW: This endpoint is still in beta, and may experience rough edges. The schema is in final form, but there may be bugs that prevent desirable operation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_clan_leaderboards(group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int group_id: Group ID of the clan whose leaderboards you wish to fetch. (required)
        :param int maxtop: Maximum number of top players to return. Use a large number to get entire leaderboard.
        :param str modes: List of game modes for which to get leaderboards. See the documentation for DestinyActivityModeType for valid values, and pass in string representation, comma delimited.
        :param str statid: ID of stat to return rather than returning all Leaderboard stats.
        :return: InlineResponse20047
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_clan_leaderboards_with_http_info(group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_clan_leaderboards_with_http_info(group_id, **kwargs)  # noqa: E501
            return data

    def get_clan_leaderboards_with_http_info(self, group_id, **kwargs):  # noqa: E501
        """get_clan_leaderboards  # noqa: E501

        Gets leaderboards with the signed in user's friends and the supplied destinyMembershipId as the focus. PREVIEW: This endpoint is still in beta, and may experience rough edges. The schema is in final form, but there may be bugs that prevent desirable operation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_clan_leaderboards_with_http_info(group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int group_id: Group ID of the clan whose leaderboards you wish to fetch. (required)
        :param int maxtop: Maximum number of top players to return. Use a large number to get entire leaderboard.
        :param str modes: List of game modes for which to get leaderboards. See the documentation for DestinyActivityModeType for valid values, and pass in string representation, comma delimited.
        :param str statid: ID of stat to return rather than returning all Leaderboard stats.
        :return: InlineResponse20047
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['group_id', 'maxtop', 'modes', 'statid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_clan_leaderboards" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'group_id' is set
        if ('group_id' not in local_var_params or
                local_var_params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `get_clan_leaderboards`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'group_id' in local_var_params:
            path_params['groupId'] = local_var_params['group_id']  # noqa: E501

        query_params = []
        if 'maxtop' in local_var_params:
            query_params.append(('maxtop', local_var_params['maxtop']))  # noqa: E501
        if 'modes' in local_var_params:
            query_params.append(('modes', local_var_params['modes']))  # noqa: E501
        if 'statid' in local_var_params:
            query_params.append(('statid', local_var_params['statid']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/Stats/Leaderboards/Clans/{groupId}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20047',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_clan_weekly_reward_state(self, group_id, **kwargs):  # noqa: E501
        """get_clan_weekly_reward_state  # noqa: E501

        Returns information on the weekly clan rewards and if the clan has earned them or not. Note that this will always report rewards as not redeemed.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_clan_weekly_reward_state(group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int group_id: A valid group id of clan. (required)
        :return: InlineResponse20037
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_clan_weekly_reward_state_with_http_info(group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_clan_weekly_reward_state_with_http_info(group_id, **kwargs)  # noqa: E501
            return data

    def get_clan_weekly_reward_state_with_http_info(self, group_id, **kwargs):  # noqa: E501
        """get_clan_weekly_reward_state  # noqa: E501

        Returns information on the weekly clan rewards and if the clan has earned them or not. Note that this will always report rewards as not redeemed.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_clan_weekly_reward_state_with_http_info(group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int group_id: A valid group id of clan. (required)
        :return: InlineResponse20037
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['group_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_clan_weekly_reward_state" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'group_id' is set
        if ('group_id' not in local_var_params or
                local_var_params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `get_clan_weekly_reward_state`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'group_id' in local_var_params:
            path_params['groupId'] = local_var_params['group_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/Clan/{groupId}/WeeklyRewardState/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20037',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_collectible_node_details(self, character_id, collectible_presentation_node_hash, destiny_membership_id, membership_type, **kwargs):  # noqa: E501
        """get_collectible_node_details  # noqa: E501

        Given a Presentation Node that has Collectibles as direct descendants, this will return item details about those descendants in the context of the requesting character.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_collectible_node_details(character_id, collectible_presentation_node_hash, destiny_membership_id, membership_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int character_id: The Destiny Character ID of the character for whom we're getting collectible detail info. (required)
        :param int collectible_presentation_node_hash: The hash identifier of the Presentation Node for whom we should return collectible details. Details will only be returned for collectibles that are direct descendants of this node. (required)
        :param int destiny_membership_id: Destiny membership ID of another user. You may be denied. (required)
        :param int membership_type: A valid non-BungieNet membership type. (required)
        :param list[int] components: A comma separated list of components to return (as strings or numeric values). See the DestinyComponentType enum for valid components to request. You must request at least one component to receive results.
        :return: InlineResponse20042
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_collectible_node_details_with_http_info(character_id, collectible_presentation_node_hash, destiny_membership_id, membership_type, **kwargs)  # noqa: E501
        else:
            (data) = self.get_collectible_node_details_with_http_info(character_id, collectible_presentation_node_hash, destiny_membership_id, membership_type, **kwargs)  # noqa: E501
            return data

    def get_collectible_node_details_with_http_info(self, character_id, collectible_presentation_node_hash, destiny_membership_id, membership_type, **kwargs):  # noqa: E501
        """get_collectible_node_details  # noqa: E501

        Given a Presentation Node that has Collectibles as direct descendants, this will return item details about those descendants in the context of the requesting character.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_collectible_node_details_with_http_info(character_id, collectible_presentation_node_hash, destiny_membership_id, membership_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int character_id: The Destiny Character ID of the character for whom we're getting collectible detail info. (required)
        :param int collectible_presentation_node_hash: The hash identifier of the Presentation Node for whom we should return collectible details. Details will only be returned for collectibles that are direct descendants of this node. (required)
        :param int destiny_membership_id: Destiny membership ID of another user. You may be denied. (required)
        :param int membership_type: A valid non-BungieNet membership type. (required)
        :param list[int] components: A comma separated list of components to return (as strings or numeric values). See the DestinyComponentType enum for valid components to request. You must request at least one component to receive results.
        :return: InlineResponse20042
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['character_id', 'collectible_presentation_node_hash', 'destiny_membership_id', 'membership_type', 'components']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_collectible_node_details" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'character_id' is set
        if ('character_id' not in local_var_params or
                local_var_params['character_id'] is None):
            raise ValueError("Missing the required parameter `character_id` when calling `get_collectible_node_details`")  # noqa: E501
        # verify the required parameter 'collectible_presentation_node_hash' is set
        if ('collectible_presentation_node_hash' not in local_var_params or
                local_var_params['collectible_presentation_node_hash'] is None):
            raise ValueError("Missing the required parameter `collectible_presentation_node_hash` when calling `get_collectible_node_details`")  # noqa: E501
        # verify the required parameter 'destiny_membership_id' is set
        if ('destiny_membership_id' not in local_var_params or
                local_var_params['destiny_membership_id'] is None):
            raise ValueError("Missing the required parameter `destiny_membership_id` when calling `get_collectible_node_details`")  # noqa: E501
        # verify the required parameter 'membership_type' is set
        if ('membership_type' not in local_var_params or
                local_var_params['membership_type'] is None):
            raise ValueError("Missing the required parameter `membership_type` when calling `get_collectible_node_details`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'character_id' in local_var_params:
            path_params['characterId'] = local_var_params['character_id']  # noqa: E501
        if 'collectible_presentation_node_hash' in local_var_params:
            path_params['collectiblePresentationNodeHash'] = local_var_params['collectible_presentation_node_hash']  # noqa: E501
        if 'destiny_membership_id' in local_var_params:
            path_params['destinyMembershipId'] = local_var_params['destiny_membership_id']  # noqa: E501
        if 'membership_type' in local_var_params:
            path_params['membershipType'] = local_var_params['membership_type']  # noqa: E501

        query_params = []
        if 'components' in local_var_params:
            query_params.append(('components', local_var_params['components']))  # noqa: E501
            collection_formats['components'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/{membershipType}/Profile/{destinyMembershipId}/Character/{characterId}/Collectibles/{collectiblePresentationNodeHash}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20042',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_destiny_aggregate_activity_stats(self, character_id, destiny_membership_id, membership_type, **kwargs):  # noqa: E501
        """get_destiny_aggregate_activity_stats  # noqa: E501

        Gets all activities the character has participated in together with aggregate statistics for those activities.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_destiny_aggregate_activity_stats(character_id, destiny_membership_id, membership_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int character_id: The specific character whose activities should be returned. (required)
        :param int destiny_membership_id: The Destiny membershipId of the user to retrieve. (required)
        :param int membership_type: A valid non-BungieNet membership type. (required)
        :return: InlineResponse20054
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_destiny_aggregate_activity_stats_with_http_info(character_id, destiny_membership_id, membership_type, **kwargs)  # noqa: E501
        else:
            (data) = self.get_destiny_aggregate_activity_stats_with_http_info(character_id, destiny_membership_id, membership_type, **kwargs)  # noqa: E501
            return data

    def get_destiny_aggregate_activity_stats_with_http_info(self, character_id, destiny_membership_id, membership_type, **kwargs):  # noqa: E501
        """get_destiny_aggregate_activity_stats  # noqa: E501

        Gets all activities the character has participated in together with aggregate statistics for those activities.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_destiny_aggregate_activity_stats_with_http_info(character_id, destiny_membership_id, membership_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int character_id: The specific character whose activities should be returned. (required)
        :param int destiny_membership_id: The Destiny membershipId of the user to retrieve. (required)
        :param int membership_type: A valid non-BungieNet membership type. (required)
        :return: InlineResponse20054
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['character_id', 'destiny_membership_id', 'membership_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_destiny_aggregate_activity_stats" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'character_id' is set
        if ('character_id' not in local_var_params or
                local_var_params['character_id'] is None):
            raise ValueError("Missing the required parameter `character_id` when calling `get_destiny_aggregate_activity_stats`")  # noqa: E501
        # verify the required parameter 'destiny_membership_id' is set
        if ('destiny_membership_id' not in local_var_params or
                local_var_params['destiny_membership_id'] is None):
            raise ValueError("Missing the required parameter `destiny_membership_id` when calling `get_destiny_aggregate_activity_stats`")  # noqa: E501
        # verify the required parameter 'membership_type' is set
        if ('membership_type' not in local_var_params or
                local_var_params['membership_type'] is None):
            raise ValueError("Missing the required parameter `membership_type` when calling `get_destiny_aggregate_activity_stats`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'character_id' in local_var_params:
            path_params['characterId'] = local_var_params['character_id']  # noqa: E501
        if 'destiny_membership_id' in local_var_params:
            path_params['destinyMembershipId'] = local_var_params['destiny_membership_id']  # noqa: E501
        if 'membership_type' in local_var_params:
            path_params['membershipType'] = local_var_params['membership_type']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/{membershipType}/Account/{destinyMembershipId}/Character/{characterId}/Stats/AggregateActivityStats/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20054',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_destiny_entity_definition(self, entity_type, hash_identifier, **kwargs):  # noqa: E501
        """get_destiny_entity_definition  # noqa: E501

        Returns the static definition of an entity of the given Type and hash identifier. Examine the API Documentation for the Type Names of entities that have their own definitions. Note that the return type will always *inherit from* DestinyDefinition, but the specific type returned will be the requested entity type if it can be found. Please don't use this as a chatty alternative to the Manifest database if you require large sets of data, but for simple and one-off accesses this should be handy.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_destiny_entity_definition(entity_type, hash_identifier, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str entity_type: The type of entity for whom you would like results. These correspond to the entity's definition contract name. For instance, if you are looking for items, this property should be 'DestinyInventoryItemDefinition'. PREVIEW: This endpoint is still in beta, and may experience rough edges. The schema is tentatively in final form, but there may be bugs that prevent desirable operation. (required)
        :param int hash_identifier: The hash identifier for the specific Entity you want returned. (required)
        :return: InlineResponse20032
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_destiny_entity_definition_with_http_info(entity_type, hash_identifier, **kwargs)  # noqa: E501
        else:
            (data) = self.get_destiny_entity_definition_with_http_info(entity_type, hash_identifier, **kwargs)  # noqa: E501
            return data

    def get_destiny_entity_definition_with_http_info(self, entity_type, hash_identifier, **kwargs):  # noqa: E501
        """get_destiny_entity_definition  # noqa: E501

        Returns the static definition of an entity of the given Type and hash identifier. Examine the API Documentation for the Type Names of entities that have their own definitions. Note that the return type will always *inherit from* DestinyDefinition, but the specific type returned will be the requested entity type if it can be found. Please don't use this as a chatty alternative to the Manifest database if you require large sets of data, but for simple and one-off accesses this should be handy.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_destiny_entity_definition_with_http_info(entity_type, hash_identifier, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str entity_type: The type of entity for whom you would like results. These correspond to the entity's definition contract name. For instance, if you are looking for items, this property should be 'DestinyInventoryItemDefinition'. PREVIEW: This endpoint is still in beta, and may experience rough edges. The schema is tentatively in final form, but there may be bugs that prevent desirable operation. (required)
        :param int hash_identifier: The hash identifier for the specific Entity you want returned. (required)
        :return: InlineResponse20032
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['entity_type', 'hash_identifier']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_destiny_entity_definition" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'entity_type' is set
        if ('entity_type' not in local_var_params or
                local_var_params['entity_type'] is None):
            raise ValueError("Missing the required parameter `entity_type` when calling `get_destiny_entity_definition`")  # noqa: E501
        # verify the required parameter 'hash_identifier' is set
        if ('hash_identifier' not in local_var_params or
                local_var_params['hash_identifier'] is None):
            raise ValueError("Missing the required parameter `hash_identifier` when calling `get_destiny_entity_definition`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'entity_type' in local_var_params:
            path_params['entityType'] = local_var_params['entity_type']  # noqa: E501
        if 'hash_identifier' in local_var_params:
            path_params['hashIdentifier'] = local_var_params['hash_identifier']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/Manifest/{entityType}/{hashIdentifier}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20032',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_destiny_manifest(self, **kwargs):  # noqa: E501
        """get_destiny_manifest  # noqa: E501

        Returns the current version of the manifest as a json object.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_destiny_manifest(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: InlineResponse20031
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_destiny_manifest_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_destiny_manifest_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_destiny_manifest_with_http_info(self, **kwargs):  # noqa: E501
        """get_destiny_manifest  # noqa: E501

        Returns the current version of the manifest as a json object.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_destiny_manifest_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: InlineResponse20031
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_destiny_manifest" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/Manifest/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20031',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_historical_stats(self, character_id, destiny_membership_id, membership_type, **kwargs):  # noqa: E501
        """get_historical_stats  # noqa: E501

        Gets historical stats for indicated character.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_historical_stats(character_id, destiny_membership_id, membership_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int character_id: The id of the character to retrieve. You can omit this character ID or set it to 0 to get aggregate stats across all characters. (required)
        :param int destiny_membership_id: The Destiny membershipId of the user to retrieve. (required)
        :param int membership_type: A valid non-BungieNet membership type. (required)
        :param datetime dayend: Last day to return when daily stats are requested. Use the format YYYY-MM-DD. Currently, we cannot allow more than 31 days of daily data to be requested in a single request.
        :param datetime daystart: First day to return when daily stats are requested. Use the format YYYY-MM-DD. Currently, we cannot allow more than 31 days of daily data to be requested in a single request.
        :param list[int] groups: Group of stats to include, otherwise only general stats are returned. Comma separated list is allowed. Values: General, Weapons, Medals
        :param list[int] modes: Game modes to return. See the documentation for DestinyActivityModeType for valid values, and pass in string representation, comma delimited.
        :param int period_type: Indicates a specific period type to return. Optional. May be: Daily, AllTime, or Activity
        :return: InlineResponse20050
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_historical_stats_with_http_info(character_id, destiny_membership_id, membership_type, **kwargs)  # noqa: E501
        else:
            (data) = self.get_historical_stats_with_http_info(character_id, destiny_membership_id, membership_type, **kwargs)  # noqa: E501
            return data

    def get_historical_stats_with_http_info(self, character_id, destiny_membership_id, membership_type, **kwargs):  # noqa: E501
        """get_historical_stats  # noqa: E501

        Gets historical stats for indicated character.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_historical_stats_with_http_info(character_id, destiny_membership_id, membership_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int character_id: The id of the character to retrieve. You can omit this character ID or set it to 0 to get aggregate stats across all characters. (required)
        :param int destiny_membership_id: The Destiny membershipId of the user to retrieve. (required)
        :param int membership_type: A valid non-BungieNet membership type. (required)
        :param datetime dayend: Last day to return when daily stats are requested. Use the format YYYY-MM-DD. Currently, we cannot allow more than 31 days of daily data to be requested in a single request.
        :param datetime daystart: First day to return when daily stats are requested. Use the format YYYY-MM-DD. Currently, we cannot allow more than 31 days of daily data to be requested in a single request.
        :param list[int] groups: Group of stats to include, otherwise only general stats are returned. Comma separated list is allowed. Values: General, Weapons, Medals
        :param list[int] modes: Game modes to return. See the documentation for DestinyActivityModeType for valid values, and pass in string representation, comma delimited.
        :param int period_type: Indicates a specific period type to return. Optional. May be: Daily, AllTime, or Activity
        :return: InlineResponse20050
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['character_id', 'destiny_membership_id', 'membership_type', 'dayend', 'daystart', 'groups', 'modes', 'period_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_historical_stats" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'character_id' is set
        if ('character_id' not in local_var_params or
                local_var_params['character_id'] is None):
            raise ValueError("Missing the required parameter `character_id` when calling `get_historical_stats`")  # noqa: E501
        # verify the required parameter 'destiny_membership_id' is set
        if ('destiny_membership_id' not in local_var_params or
                local_var_params['destiny_membership_id'] is None):
            raise ValueError("Missing the required parameter `destiny_membership_id` when calling `get_historical_stats`")  # noqa: E501
        # verify the required parameter 'membership_type' is set
        if ('membership_type' not in local_var_params or
                local_var_params['membership_type'] is None):
            raise ValueError("Missing the required parameter `membership_type` when calling `get_historical_stats`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'character_id' in local_var_params:
            path_params['characterId'] = local_var_params['character_id']  # noqa: E501
        if 'destiny_membership_id' in local_var_params:
            path_params['destinyMembershipId'] = local_var_params['destiny_membership_id']  # noqa: E501
        if 'membership_type' in local_var_params:
            path_params['membershipType'] = local_var_params['membership_type']  # noqa: E501

        query_params = []
        if 'dayend' in local_var_params:
            query_params.append(('dayend', local_var_params['dayend']))  # noqa: E501
        if 'daystart' in local_var_params:
            query_params.append(('daystart', local_var_params['daystart']))  # noqa: E501
        if 'groups' in local_var_params:
            query_params.append(('groups', local_var_params['groups']))  # noqa: E501
            collection_formats['groups'] = 'multi'  # noqa: E501
        if 'modes' in local_var_params:
            query_params.append(('modes', local_var_params['modes']))  # noqa: E501
            collection_formats['modes'] = 'multi'  # noqa: E501
        if 'period_type' in local_var_params:
            query_params.append(('periodType', local_var_params['period_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/{membershipType}/Account/{destinyMembershipId}/Character/{characterId}/Stats/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20050',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_historical_stats_definition(self, **kwargs):  # noqa: E501
        """get_historical_stats_definition  # noqa: E501

        Gets historical stats definitions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_historical_stats_definition(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: InlineResponse20046
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_historical_stats_definition_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_historical_stats_definition_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_historical_stats_definition_with_http_info(self, **kwargs):  # noqa: E501
        """get_historical_stats_definition  # noqa: E501

        Gets historical stats definitions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_historical_stats_definition_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: InlineResponse20046
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_historical_stats_definition" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/Stats/Definition/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20046',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_historical_stats_for_account(self, destiny_membership_id, membership_type, **kwargs):  # noqa: E501
        """get_historical_stats_for_account  # noqa: E501

        Gets aggregate historical stats organized around each character for a given account.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_historical_stats_for_account(destiny_membership_id, membership_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int destiny_membership_id: The Destiny membershipId of the user to retrieve. (required)
        :param int membership_type: A valid non-BungieNet membership type. (required)
        :param list[int] groups: Groups of stats to include, otherwise only general stats are returned. Comma separated list is allowed. Values: General, Weapons, Medals.
        :return: InlineResponse20051
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_historical_stats_for_account_with_http_info(destiny_membership_id, membership_type, **kwargs)  # noqa: E501
        else:
            (data) = self.get_historical_stats_for_account_with_http_info(destiny_membership_id, membership_type, **kwargs)  # noqa: E501
            return data

    def get_historical_stats_for_account_with_http_info(self, destiny_membership_id, membership_type, **kwargs):  # noqa: E501
        """get_historical_stats_for_account  # noqa: E501

        Gets aggregate historical stats organized around each character for a given account.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_historical_stats_for_account_with_http_info(destiny_membership_id, membership_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int destiny_membership_id: The Destiny membershipId of the user to retrieve. (required)
        :param int membership_type: A valid non-BungieNet membership type. (required)
        :param list[int] groups: Groups of stats to include, otherwise only general stats are returned. Comma separated list is allowed. Values: General, Weapons, Medals.
        :return: InlineResponse20051
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['destiny_membership_id', 'membership_type', 'groups']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_historical_stats_for_account" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'destiny_membership_id' is set
        if ('destiny_membership_id' not in local_var_params or
                local_var_params['destiny_membership_id'] is None):
            raise ValueError("Missing the required parameter `destiny_membership_id` when calling `get_historical_stats_for_account`")  # noqa: E501
        # verify the required parameter 'membership_type' is set
        if ('membership_type' not in local_var_params or
                local_var_params['membership_type'] is None):
            raise ValueError("Missing the required parameter `membership_type` when calling `get_historical_stats_for_account`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'destiny_membership_id' in local_var_params:
            path_params['destinyMembershipId'] = local_var_params['destiny_membership_id']  # noqa: E501
        if 'membership_type' in local_var_params:
            path_params['membershipType'] = local_var_params['membership_type']  # noqa: E501

        query_params = []
        if 'groups' in local_var_params:
            query_params.append(('groups', local_var_params['groups']))  # noqa: E501
            collection_formats['groups'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/{membershipType}/Account/{destinyMembershipId}/Stats/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20051',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_item(self, destiny_membership_id, item_instance_id, membership_type, **kwargs):  # noqa: E501
        """get_item  # noqa: E501

        Retrieve the details of an instanced Destiny Item. An instanced Destiny item is one with an ItemInstanceId. Non-instanced items, such as materials, have no useful instance-specific details and thus are not queryable here.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_item(destiny_membership_id, item_instance_id, membership_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int destiny_membership_id: The membership ID of the destiny profile. (required)
        :param int item_instance_id: The Instance ID of the destiny item. (required)
        :param int membership_type: A valid non-BungieNet membership type. (required)
        :param list[int] components: A comma separated list of components to return (as strings or numeric values). See the DestinyComponentType enum for valid components to request. You must request at least one component to receive results.
        :return: InlineResponse20038
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_item_with_http_info(destiny_membership_id, item_instance_id, membership_type, **kwargs)  # noqa: E501
        else:
            (data) = self.get_item_with_http_info(destiny_membership_id, item_instance_id, membership_type, **kwargs)  # noqa: E501
            return data

    def get_item_with_http_info(self, destiny_membership_id, item_instance_id, membership_type, **kwargs):  # noqa: E501
        """get_item  # noqa: E501

        Retrieve the details of an instanced Destiny Item. An instanced Destiny item is one with an ItemInstanceId. Non-instanced items, such as materials, have no useful instance-specific details and thus are not queryable here.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_item_with_http_info(destiny_membership_id, item_instance_id, membership_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int destiny_membership_id: The membership ID of the destiny profile. (required)
        :param int item_instance_id: The Instance ID of the destiny item. (required)
        :param int membership_type: A valid non-BungieNet membership type. (required)
        :param list[int] components: A comma separated list of components to return (as strings or numeric values). See the DestinyComponentType enum for valid components to request. You must request at least one component to receive results.
        :return: InlineResponse20038
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['destiny_membership_id', 'item_instance_id', 'membership_type', 'components']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_item" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'destiny_membership_id' is set
        if ('destiny_membership_id' not in local_var_params or
                local_var_params['destiny_membership_id'] is None):
            raise ValueError("Missing the required parameter `destiny_membership_id` when calling `get_item`")  # noqa: E501
        # verify the required parameter 'item_instance_id' is set
        if ('item_instance_id' not in local_var_params or
                local_var_params['item_instance_id'] is None):
            raise ValueError("Missing the required parameter `item_instance_id` when calling `get_item`")  # noqa: E501
        # verify the required parameter 'membership_type' is set
        if ('membership_type' not in local_var_params or
                local_var_params['membership_type'] is None):
            raise ValueError("Missing the required parameter `membership_type` when calling `get_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'destiny_membership_id' in local_var_params:
            path_params['destinyMembershipId'] = local_var_params['destiny_membership_id']  # noqa: E501
        if 'item_instance_id' in local_var_params:
            path_params['itemInstanceId'] = local_var_params['item_instance_id']  # noqa: E501
        if 'membership_type' in local_var_params:
            path_params['membershipType'] = local_var_params['membership_type']  # noqa: E501

        query_params = []
        if 'components' in local_var_params:
            query_params.append(('components', local_var_params['components']))  # noqa: E501
            collection_formats['components'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/Destiny2/{membershipType}/Profile/{destinyMembershipId}/Item/{itemInstanceId}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20038',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_leaderboards(self, destiny_membership_id, membership_type, **kwargs):  # noqa: E501
        """get_leaderboards  # noqa: E501

        Gets leaderboards with the signed in user's friends and the supplied destinyMembershipId as the focus. PREVIEW: This endpoint has not yet been implemented. It is being returned for a preview of future functionality, and for public comment/suggestion/preparation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_leaderboards(destiny_membership_id, membership_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int destiny_membership_id: The Destiny membershipId of the user to retrieve. (required)
        :param int membership_type: A valid non-BungieNet membership type. (required)
        :param int maxtop: Maximum number of top players to return. Use a large number to get entire leaderboard.
        :param str modes: List of game modes for which to get leaderboards. See the documentation for DestinyActivityModeType for valid values, and pass in string representation, comma delimited.
[...]
